extends ../layout

block content
	script(type='text/javascript', src='javascripts/jquery.validate.js')
	div#content-wrapper
		div#banner.center
			div#bannerImage
				img(src='../../images/EMC-Code-Icon.png')
			div#bannerText
				h1 EMC {code} Photo Booth Registration
		div.clearfix
		form#formAddPhoto(name="addphoto",method="post",action="/photos")
			div.addspace
				label(for='fname', class='label') First Name: 
					span.red *
					input(type='text',id='fname',name='fname',placeholder='ex. EMC',class='textinput', autocomplete="off", required)
			div.addspace
				label(for='lname', class='label') Last Name:
					span.red *
					input(type='text',id='lname',name='lname',placeholder='ex. {code}',class='textinput', autocomplete="off", required)
			div.addspace
				label(for='email', class='label') Email:
					span.red *
					input(type='email',id='email',name='email',placeholder='ex. emccode@emc.com',class='textinput', autocomplete="off", required)
			div.addspace
				label(for='twitter', class='label') Twitter Username:
					input(type='text',id='twitter',name='twitter',placeholder='ex. @EMCCode',class='textinput', autocomplete="off")
			div.addspace
				label(for='company', class='label') Company:
					span.red * 
					input(type='text',id='company',name='company',placeholder='ex. EMC',class='textinput', autocomplete="off", required)
			div.addspace
				label(for='title', class='label') Title:
					span.red * 
					input(type='text',id='title',name='title',placeholder='ex. CEO',class='textinput', autocomplete="off", required)
			br
			br
			div.addspace
				label(for='newsletter', class='label') Subscribe to the EMC {code} Newsletter? 
					input(type="checkbox",id='newsletter',name='newsletter', class='checkboxPadding', checked='checked')
			br
			br
			h3.center Which talks/topics interest you the most?
			br
			ul
				li 
					input(type="checkbox",id='Linkedin',name='contentsession', value='Linkedin', class='checkboxPadding')
					label(for='Linkedin', class='label') Shwetabh Mittal, Strategy & Operations at Linkedin : Growing and Running an At-scale Social Platform
				li
					input(type="checkbox",id='Dropbox',name='contentsession', value='Dropbox', class='checkboxPadding')
					label(for='Dropbox', class='label') Steve Marx, Product Manager, Developer Programs at Dropbox : It's complicated: The User/Admin/Developer/Platform Relationship in the Dropbox API
				li
					input(type="checkbox",id='Chef',name='contentsession', value='Chef', class='checkboxPadding')
					label(for='Chef', class='label') Nicole Forsgren, PhD, Director Organizational Performance and Analytics at Chef : DevOps: Next
				li
					input(type="checkbox",id='Docker',name='contentsession', value='Docker', class='checkboxPadding')
					label(for='Docker', class='label') Jonas Rosland, Sr. Developer Advocate with EMC Code : Docker 101
				li
					input(type="checkbox",id='Intel',name='contentsession', value='Intel', class='checkboxPadding')
					label(for='Intel', class='label') Nick Weaver, Director, Intel SDI Labs : The Post-Cloud: Where Google, DevOps and Docker Converge
				li
					input(type="checkbox",id='Cloud Foundry',name='contentsession', value='Cloud Foundry', class='checkboxPadding')
					label(for='Cloud Foundry', class='label') Cornelia Davis, Director of Platform Engineering in the Cloud Foundry team at Pivotal : Competing with Software: It Takes a Platform
				li
					input(type="checkbox",id='Puppet',name='contentsession', value='Puppet', class='checkboxPadding')
					label(for='Puppet', class='label') Carl Caum, Senior Technical Marketing Manager, Puppet Labs : Code IT. Why Infrastructure as Code Matters
				li
					input(type="checkbox",id='EMCIT',name='contentsession', value='EMCIT', class='checkboxPadding')
					label(for='EMCIT', class='label') Steve Gonzales, Principal Cloud Software Engineer, EMC : Managing Automation at Scale
				li
					input(type="checkbox",id='Moogsoft',name='contentsession', value='Moogsoft', class='checkboxPadding')
					label(for='Moogsoft', class='label') Dave Casper, CTO, Moogsoft : A Service Assurance Perspective on DevOps
				li
					input(type="checkbox",id='VMware',name='contentsession', value='VMware', class='checkboxPadding')
					label(for='VMware', class='label') Kit Colbert, CTO and VP, VMware Cloud Native Apps : Cloud Native Apps: Why, What, and How
			//h3.center Which EMC {code} content did you like the best?
			//div.third
				h3.label.nomargin.center LEARN
				p.label.nomargin.center (training)
				br
				ul
					li
						input(type="checkbox",id='Docker Hackday',name='contentlearn', value='Docker Hackday', class='checkboxPadding')
						label(for='Docker Hackday', class='label') Docker Hackday
					li
						input(type="checkbox",id='DevOps GeekWeek',name='contentlearn', value='DevOps GeekWeek', class='checkboxPadding')
						label(for='DevOps GeekWeek', class='label') DevOps GeekWeek
					li
						input(type="checkbox",id='DevOps Field Accred',name='contentlearn', value='DevOps Field Accred', class='checkboxPadding')
						label(for='DevOps Field Accred', class='label') DevOps Field Accred
					li
						input(type="checkbox",id='Web Automation Center',name='contentlearn', value='Web Automation Center', class='checkboxPadding')
						label(for='Web Automation Center', class='label') Web Automation Center
			//div.third
				h3.label.nomargin.center CODE
				p.label.nomargin.center (emc products)
				br
				ul
					li
						input(type="checkbox",id='ScaleIO',name='contentcode', value='ScaleIO', class='checkboxPadding')
						label(for='ScaleIO', class='label') ScaleIO
					li
						input(type="checkbox",id='ViPR/ECS',name='contentcode', value='ViPR/ECS', class='checkboxPadding')
						label(for='ViPR/ECS', class='label') ViPR/ECS
					li
						input(type="checkbox",id='XtremIO',name='contentcode', value='XtremIO', class='checkboxPadding')
						label(for='XtremIO', class='label') XtremIO
					li
						input(type="checkbox",id='VMAX',name='contentcode', value='VMAX', class='checkboxPadding')
						label(for='VMAX', class='label') VMAX
					li
						input(type="checkbox",id='VMware NSX',name='contentcode', value='VMware NSX', class='checkboxPadding')
						label(for='VMware NSX', class='label') VMware NSX
					li
						input(type="checkbox",id='vCloud Air',name='contentcode', value='vCloud Air', class='checkboxPadding')
						label(for='vCloud Air', class='label') vCloud Air
					li
						input(type="checkbox",id='OpenStack',name='contentcode', value='OpenStack', class='checkboxPadding')
						label(for='OpenStack', class='label') OpenStack

			//div.third
				h3.label.nomargin.center DEPLOY
				p.label.nomargin.center (community projects)
				br
				ul
					li
						input(type="checkbox",id='s3motion',name='contentdeploy', value='s3motion', class='checkboxPadding')
						label(for='s3motion', class='label') s3motion
					li
						input(type="checkbox",id='Socieidos',name='contentdeploy', value='Socieidos', class='checkboxPadding')
						label(for='Socieidos', class='label') Socieidos
					li
						input(type="checkbox",id='VagrantSpice',name='contentdeploy', value='VagrantSpice', class='checkboxPadding')
						label(for='VagrantSpice', class='label') VagrantSpice
					li
						input(type="checkbox",id='Vagrant-ScaleIO',name='contentdeploy', value='Vagrant-ScaleIO', class='checkboxPadding')
						label(for='Vagrant-ScaleIO', class='label') Vagrant-ScaleIO
					li
						input(type="checkbox",id='Puppet-ScaleIO',name='contentdeploy', value='Puppet-ScaleIO', class='checkboxPadding')
						label(for='Puppet-ScaleIO', class='label') Puppet-ScaleIO
					li
						input(type="checkbox",id='Dogged',name='contentdeploy', value='Dogged', class='checkboxPadding')
						label(for='Dogged', class='label') Dogged
					li
						input(type="checkbox",id='RexRay',name='contentdeploy', value='RexRay', class='checkboxPadding')
						label(for='RexRay', class='label') RexRay
					li
						input(type="checkbox",id='GoAir',name='contentdeploy', value='GoAir', class='checkboxPadding')
						label(for='GoAir', class='label') GoAir
					li
						input(type="checkbox",id='Core2F',name='contentdeploy', value='Core2F', class='checkboxPadding')
						label(for='Core2F', class='label') Core2F
					li
						input(type="checkbox",id='photobooth',name='contentdeploy', value='photobooth', class='checkboxPadding')
						label(for='photobooth', class='label') photobooth
					//li
						input(type="checkbox",id='VStriker',name='contentdeploy', value='VStriker', class='checkboxPadding')
						label(for='VStriker', class='label') VStriker
					//li
						input(type="checkbox",id='mosaiccme',name='contentdeploy', value='mosaiccme', class='checkboxPadding')
						label(for='mosaiccme', class='label') mosaiccme

			div.clearfix
			br
			button#btnSubmit(type="submit").center Put Me In The Queue!

	script(type='text/javascript').
		$( document ).ready(function() {
			$("#formAddPhoto").validate();
		}