extends layout

block content
	div#content-wrapper
		h1(style="font-size:3.7em;").center EMC {code} Photobooth
		div.clearfix
		br
		br
		form#formStart(name="getStarted",method="get",action="/infophotos/new").center
			button#btnStart(type="submit") Touch Here To Get Started!

		img(src='../../images/EMC-Code-Icon.png' style="width:50%;").center