doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/responsive.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Exo:400,500,700|Quattrocento+Sans:400,400italic')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	body
		block content