extends ../layout

block content
    h1(class='center').
        All the infophotos
    h4(class='center').
        every photo!
    ul
        - each infophoto, i in infophotos
            li
                p
                    = infophoto.fname
                p
                    = infophoto.lname
                    = infophoto.twitter
                    = infophoto.company
                    = infophoto.title
                    = infophoto.date
                    = infophoto.interests
                    = infophoto._id
                    form(action='/infophotos/#{infophoto.uniqueurl}/edit',method='post',enctype='application/x-www-form-urlencoded')
                        input(type='hidden',value='DELETE',name='_method')
                        button(type='submit').
                            Delete
                    a(href='/infophotos/#{infophoto.uniqueurl}/edit') Edit