extends ../layout

block content
	h1(class='center').
		Choose Yourself!
	ul
		- each infophoto, i in infophotos
			li
				p
					= infophoto.fname
					a(href='/infophotos/takepic/#{infophoto.uniqueurl}') Take Pics

	script(type='text/javascript').
		$( document ).ready(function() {
			setTimeout(
				function() 
			{
				location.reload(true);
			}, 35000);
		});