extends ../layout

block content
	div#content-wrapper
		div#banner.center
			div#bannerImage
				img(src='../../images/EMC-Code-Icon.png')
			div#bannerText
				h1 Choose Your Name To Get Started
		div.clearfix
		ul#list
			- each infophoto, i in infophotos
				li
					div#itemLeft
						h2.
							#{infophoto.fname} #{infophoto.lname}
					div#itemRight
						a(href='/infophotos/takepic/#{infophoto.uniqueurl}' class='btn') Take Photobooth Photos!
	div#refresh
		h2 REFRESH
		img(src='../../images/refresh.png')
		h2 NAMES

		script(type='text/javascript').
			$( document ).ready(function() {
				setTimeout(
					function() 
				{
					location.reload(true);
				}, 35000);
				$('#refresh').click(function(){
					location.reload(true);
				});
			});