extends ../layout

block content
	script(type='text/javascript', src='javascripts/jquery.validate.js')
	div#content-wrapper
		div#banner.center
			div#bannerImage
				img(src='../../images/EMC-Code-Icon.png')
			div#bannerText
				h1 EMC {code} Photobooth Registration
		div.clearfix
		form#formAddInfophoto(name="addinfophoto",method="post",action="/infophotos")
			div.addspace
				label(for='fname', class='label') First Name: 
					span.red *
					input(type='text',id='fname',name='fname',placeholder='ex. EMC',class='textinput', autocomplete="off", required)
			div.addspace
				label(for='lname', class='label') Last Name:
					span.red *
					input(type='text',id='lname',name='lname',placeholder='ex. {code}',class='textinput', autocomplete="off", required)
			div.addspace
				label(for='email', class='label') Email:
					span.red *
					input(type='email',id='email',name='email',placeholder='ex. emccode@emc.com',class='textinput', autocomplete="off", required)
			div.addspace
				label(for='twitter', class='label') Twitter Username:
					input(type='text',id='twitter',name='twitter',placeholder='ex. @EMCCode',class='textinput', autocomplete="off")
			div.addspace
				label(for='company', class='label') Company:
					span.red * 
					input(type='text',id='company',name='company',placeholder='ex. EMC',class='textinput', autocomplete="off", required)
			div.addspace
				label(for='title', class='label') Title:
					span.red * 
					input(type='text',id='title',name='title',placeholder='ex. CEO',class='textinput', autocomplete="off", required)
			br
			br
			div.addspace
				label(for='newsletter', class='label') Subscribe to the EMC {code} Newsletter? 
					input(type="checkbox",id='newsletter',name='newsletter', class='checkboxPadding')
			br
			br
			p.label Which demo was your favorite? 
				table
					tr
						td
							input(type="radio",id='s3motion',name='favoritedemo', value='s3motion', class='checkboxPadding')
							label(for='s3motion', class='label') s3motion
						td
							input(type="radio",id='Socieidos',name='favoritedemo', value='Socieidos', class='checkboxPadding')
							label(for='Socieidos', class='label') Socieidos
						td
							input(type="radio",id='Vagrant-ScaleIO',name='favoritedemo', value='Vagrant-ScaleIO', class='checkboxPadding')
							label(for='Vagrant-ScaleIO', class='label') Vagrant-ScaleIO
						td
							input(type="radio",id='VagrantSpice',name='favoritedemo', value='VagrantSpice', class='checkboxPadding')
							label(for='VagrantSpice', class='label') VagrantSpice
					tr
						td
							input(type="radio",id='Dockerized ScaleIO',name='favoritedemo', value='Dockerized ScaleIO', class='checkboxPadding')
							label(for='Dockerized ScaleIO', class='label') Dockerized ScaleIO
						td
							input(type="radio",id='SnakeCharmer',name='favoritedemo', value='SnakeCharmer', class='checkboxPadding')
							label(for='SnakeCharmer', class='label') SnakeCharmer
						td
							input(type="radio",id='Dockerized SymCLI',name='favoritedemo', value='Dockerized SymCLI', class='checkboxPadding')
							label(for='Dockerized SymCLI', class='label') Dockerized SymCLI
						td
							input(type="radio",id='NSX Tier Builder',name='favoritedemo', value='NSX Tier Builder', class='checkboxPadding')
							label(for='NSX Tier Builder', class='label') NSX Tier Builder
			br
			br
			p.label What technologies do you want to learn more about?
				table
					tr
						td
							input(type="checkbox",id='Docker',name='interests', value='Docker', class='checkboxPadding')
							label(for='Docker', class='label') Docker
						td
							input(type="checkbox",id='CoreOS',name='interests', value='CoreOS', class='checkboxPadding')
							label(for='CoreOS', class='label') CoreOS
						td
							input(type="checkbox",id='Vagrant',name='interests', value='Vagrant', class='checkboxPadding')
							label(for='Vagrant', class='label') Vagrant
						td
							input(type="checkbox",id='ECS',name='interests', value='ECS', class='checkboxPadding')
							label(for='ECS', class='label') ECS
						td
							input(type="checkbox",id='Programming Languages',name='interests', value='Programming Languages', class='checkboxPadding')
							label(for='Programming Languages', class='label') Programming Languages
						td
							input(type="checkbox",id='Cloud Foundry',name='interests', value='Cloud Foundry', class='checkboxPadding')
							label(for='Cloud Foundry', class='label') Cloud Foundry
					tr
						td
							input(type="checkbox",id='KungFu',name='interests', value="KungFu", class='checkboxPadding')
							label(for='KungFu', class='label') KungFu
						td
							input(type="checkbox",id='UK Basketball',name='interests', value="UK Basketball", class='checkboxPadding')
							label(for='UK Basketball', class='label') UK Basketball
						td
							input(type="checkbox",id='Sweden',name='interests', value="Sweden", class='checkboxPadding')
							label(for='Sweden', class='label') Sweden
						td
							input(type="checkbox",id='Da Partiez!',name='interests', value="Da Partiez!", class='checkboxPadding')
							label(for='Da Partiez!', class='label') Da Partiez!
				br
			button#btnSubmit(type="submit").center Put Me In The Queue!

	script(type='text/javascript').
		$( document ).ready(function() {
			$("#formAddInfophoto").validate();
		}